@import 'normalize';
@import 'about';
@import 'edu';

/*@charset "UTF-8";*/


/*-----------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------- header -------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------------*/

header {
  background-image: url("../img/TessDevonBanner1.jpg");
  aspect-ratio: 20 / 9;
  background-size: cover;
  position: relative;
  top: 0;
  display: flex;
}

h1, .header_h2{
  color: white;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

h1{
  font-size: 1.5rem;
}
.header_h2{
  font-size: 1.2rem;
}


.header_boarder{
  position: relative;
  top: 0;
  left: 5%;
}

.header_button1{
  position: absolute;
  bottom: 1rem;
  right: 8rem;
}

.header_button2{
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

ul{
  list-style: none;
  padding-left: 15px;
}

button{
  border-radius: 15px;
  font-family: 'Poppins', sans-serif;
  padding: 7px;
}


/*-----------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------- main ---------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------------*/

main{
  margin: 0 3rem;
  font-family: 'Poppins', sans-serif;
}

.edu{
  width: 100%;
}

.table_div{
  line-height: 20px;
  border: 1px solid darkgray;
  display: inline-block;
  width: 100%;
}

.table_h4{
  display: inline-block;
  margin: 15px;
  margin-bottom: 0;
}

table{
margin: 15px;
font-size: 0.6rem;
width: 100%;
}

.thead_td{
font-size: 0.8rem;
font-weight: 200;
}

td{
  font-size: 0,6rem;
  padding-right: 10px;
}




/*-----------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------- form ---------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------------*/










/*----- Fokus på att få sidan att fungera i olika storlekar -------------
------- mobil ca 375px, platta ca 768-1024px och laptop 1200-1600px -----
------- Lägger de sist på sidan när det är klart ------------------------
------- Tar en del i taget, 2 media only screen nedan följer med då -----*/

@media only screen and (min-width: 768px) { 
  


}

@media only screen and (min-width: 1200px) {


}

/*-----------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------footer --------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------*/



/*------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------- plate ---------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 768px) { 

  header{
    background-image: url("../img/TessDevonBanner2.jpg");
    aspect-ratio: 27 / 9;
    background-size: cover;
    position: relative;
    top: 0;
    display: flex;
    }
  h1{
    top: 2px;
    left: 2%;
    font-size: 2rem;
  }
  
  .header_h2{
    top: 6px;
    left: 2%;
    font-size: 1.5rem;
  }
  
  .header_button1{
    bottom: 2rem;
    right: 10rem;
    width: 7rem;
  }
  
  .header_button2{
    bottom: 2rem;
    right: 2rem;
    width: 8rem;

  }

  .tablediv{
    line-height: 30px;
  }
  
  table{
  font-size: 1rem;
  }


}




/*------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------- desktop -------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 1200px) {

  h1{
    top: 10px;
    left: 5%;
    font-size: 3rem;
  }
  
  .header_h2{
    top: 0px;
    left: 5%;
    font-size: 2.5rem;
    margin: 5px;
  }

  .header_button1{
    bottom: 1rem;
    right: 18rem;
    font-size: 1.5rem;
  }
  
  .header_button2{
    bottom: 1rem;
    right: 9rem;
    font-size: 1.5rem;

  }

}










/*---------------------------------------------------------------------------------------------------
------------------------------------blandad extrakod - bra att ha sen ev ----------------------------
----------------------------------------------------------------------------------------------------*/
















